[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
pyjwt = ">=1.6.1"

[dev-packages]
prospector = "==1.2.0"
pytest = "*"
twine = "*"
sphinx = "*"
recommonmark = "*"
keyring = "*"
jeepney = "*"

[requires]
python_version = "3.7"
